---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import Navbar from '../components/Navbar.astro'
import PageLoader from '../components/PageLoader.astro'
import GrainOverlay from '../components/GrainOverlay.astro'
import HeroSection from '../sections/HeroSection.astro'
import StatsSection from '../sections/StatsSection.astro'
import NeuralScoreSection from '../sections/NeuralScoreSection.astro'
import AILoggingSection from '../sections/AILoggingSection.astro'
import FeaturesSection from '../sections/FeaturesSection.astro'
import ExplodedUISection from '../sections/ExplodedUISection.astro'
import TestimonialsSection from '../sections/TestimonialsSection.astro'
import PricingSection from '../sections/PricingSection.astro'
import CTASection from '../sections/CTASection.astro'
import Footer from '../sections/Footer.astro'
---

<BaseLayout>
  <PageLoader />
  <GrainOverlay />
  <Navbar />

  <main>
    <HeroSection />
    <StatsSection />
    <NeuralScoreSection />
    <AILoggingSection />
    <FeaturesSection />
    <ExplodedUISection />
    <TestimonialsSection />
    <PricingSection />
    <CTASection />
  </main>

  <Footer />
</BaseLayout>
